.container {
}
.tab_container {
  height: calc(100vh - 55px);
}
.tab_header {
  border-bottom: 1px solid var(--border);
  padding: 10px;
  cursor: pointer;
  opacity: 0.3;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); */
  text-align: center;
  font-size: 15px;
}
.tab_active {
  background-color: white;
  border: 1px solid #e6e6e6;
  opacity: 1;
  color: #00b33c;
  border-bottom: 2px solid #00b33c;
}
.tab_content {
}

.bottom_view {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  background-color: #00b33c;
  color: white;
  border-radius: 30px;
  height: 40px;
  width: 120px;
}
.fab:hover {
  background-color: #00b33c;
}
.fab:focus {
  background-color: #00b33c;
}
